
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Roboto+Condensed:wght@300&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

body{
    line-height: inherit;
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: #836953;
}

a, .btn{
    transition: all 300 ms ease;
}

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    
}
a{
    color: #C19A6B;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #A67B5B;
    text-decoration: underline;
    text-decoration-color: #A67B5B;
}

